<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="test/php/unit/bootstrap.php"
    verbose="false"
>
  <testsuites>
    <testsuite name="default">
      <directory>test/php/unit/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src/php/</directory>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-html" target="build/coverage" />
    <log type="coverage-clover" target="build/logs/clover.xml" />
    <log type="junit" target="build/logs/junit.xml" />
  </logging>
</phpunit>